@import "_mixins.scss";
@import "font.css";
@import "color.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
    font-family: "Inter", "Noto Sans TC", Helvetica, Arial, 微軟正黑體, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: var(--md);

    color-scheme: light dark;
    color: black;
    background-color: #ccc;

    box-sizing: border-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    border: solid 1px black;

    &::after,
    &::before {
        // border: solid 1px black;
    }
}

// 全域 section padding 管理
.section-padding {
    padding: 3rem 0;

    @include breakpoint(768px) {
        padding: 1.5rem 0;
    }

    .section-title {
        text-align: left;
        font-weight: var(--b);
    }
}

// components
header .nav {
    @include flex;
    padding: 1rem 0;

    .nav-item {
        @include button(black, white, var(--b));
    }
}

#cta-container .cta {
    @include flex($j: space-between);

    .mail {
        display: block;
    }
}

.cta-media {
    @include flex($g: 0.5rem);

    .cta-item {
        @include button(var(--brand), white, $fw: 500);
        font-size: 1.5rem;
        padding: 0.5rem;

        &:hover {
            background-color: var(--brand-90);
        }
    }
}

footer {
    padding: 1rem 0;
    border-top: solid 1px black;

    p {
        text-align: center;
    }
}


// index
.banner {
    position: relative;

    .pic,
    .info {
        max-height: 560px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .info {
        position: relative;
        overflow: hidden;
        @include flex($j: center, $a: center, $d: column);

        img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .text {
            z-index: 9;
            @include flex($a: flex-start, $d: column);
        }

        .display-name {
            font-size: var(--display);
            font-weight: var(--b);
        }

        .job-title {
            color: var(--brand);
        }
    }

    .info::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--brand-90);
        opacity: 0.1;
    }

    .about {
        @include flex($a: flex-start, $d: column, $g: 0.875rem);
        position: absolute;
        right: 2.5rem;
        bottom: -5rem;
        z-index: 99;
        background-color: white;
        padding: 0;
        padding: 3rem 2rem;
        box-shadow: 0 0 12px 0 rgba(#000, 0.1);
    }

}

.service-plan {
    padding-top: 10rem;
    background-color: var(--natural-95);

    .warp {
        @include flex($a: stretch, $d: column, $g: 2rem);

        .content {
            @include flex($d: column, $g: 4rem);
        }
    }

    .service-card {
        @include flex($a: center, $g: 0);
        max-width: 1076px;

        .text {
            @include flex($a: flex-start, $d: column);
            padding: 2rem;
            background-color: white;
            box-shadow: 0 0 12px 0 rgba(#000, 0.1);
            transform: translateX(-2rem);

            h3 {
                font-weight: var(--b);

                &::before {
                    content: "";
                    margin-bottom: 1rem;
                    display: block;
                    width: 2rem;
                    height: 2px;
                    background-color: var(--brand);
                }
            }
        }
    }

    .service-card:nth-child(2n) {
        flex-direction: row-reverse;

        .text {
            transform: translateX(2rem);
        }
    }

    .more {
        @include flex($j: flex-end, $g: 0.5rem);
        transition: all 0.3s ease-out;

        .icon {
            @include flex;
            width: 2.5rem;
            height: 2.5rem;
            border: solid 1px black;
            border-radius: 50%;
            transition: all 0.3s ease-out;
        }

        &:hover {

            color: var(--brand);

            .icon {
                border: none;
                background-color: var(--brand);
                color: white;
            }
        }
    }
}

.blog-carousel {
    .carousel-item {
        width: 33%;
    }
}